$spaceXXS: 2px;
$spaceXS: 4px;
$spaceS: 8px;
$spaceSM: 12px;
$spaceM: 16px;
$spaceML: 20px;
$spaceL: 24px;
$spaceXL: 32px;
$space2XL: 40px;
$space3XL: 48px;
$space4XL: 56px;
$space5XL: 64px;
$space6XL: 72px;
