@import 'functions';

$spaceXS: to-rem(4px);
$spaceS: to-rem(8px);
$spaceSM: to-rem(12px);
$spaceM: to-rem(16px);
$spaceML: to-rem(20px);
$spaceL: to-rem(24px);
$spaceXL: to-rem(32px);
$space2XL: to-rem(40px);
$space3XL: to-rem(48px);
$space4XL: to-rem(56px);
$space5XL: to-rem(64px);
$space6XL: to-rem(72px);
